<h2><%= @play.title %></h2>
<h3><%= @play.director %></h3>
<h4><%= @play.category.name %></h4>
<p><%= @play.description %></p>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @play.user_id == current_user.id %>
      <%= link_to "一覧に戻る", root_path %>
      <%= link_to "編集する", edit_play_path(@play) %>
      <%= link_to "削除する", play_path(@play), method: :delete, data: { confirm: "本当に削除してもいいですか？" } %>
    <% end %>
  <% end %>
</div>
